{% extends "critic/base.html" %}

{% block content %}
  <form role="form">{% csrf_token %}
    <div class="form-group">
        <label for="book" class="control-label">Book name:</label>
        <select class="form-control" id= "book" name="book">
          {% for val,txt in form.fields.book_name.choices %}
            <option value="{{ val }}"> {{ txt }}</option>
          {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="text"> Your review: </label>
        <textarea class="form-control" id="text" name="text">
          {{ form.form.text }}
        </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </form>
{% endblock %}