{% extends "reader/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2><p class="bg-success">
      Thanks for all
      </p></h2>
    </div>
  </div>
{% endblock %}