{% extends "reader/base.html" %}
{% block content %}
<h2>You Can Change Information</h2>
  <div class="col-lg-3">
    <form method="POST" action="">{% csrf_token %}
      <label>Name</label>
      <div  class="form-group">
        <input type="text" class="form-control" name="first_name" value="{{ author.first_name }}">
        <label>Last Name</label>
        <input  type="text" class="form-control" name="last_name" value="{{ author.last_name }}">
        <label>E-mail</label>
        <input  type="text" class="form-control" name="email" value="{{ author.email }}">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
{% endblock %}
