{% extends "reader/base.html"%}

{% block content %}
{% load bootstrap %}
<div class="row">
<div class="col-lg-4"></div>
<div class="col-lg-4">
  <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
    {{form|bootstrap}}
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>
</div>
{% endblock %}