<html lang="en">
  <head>
    <title>{% include "reader/title.html" %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class=""row>
   <div class="col-md-4"></div>
    <div class="col-md-8">
  <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href={% url "home" %}>Home</a></li>
  <li role="presentation"><a href={%url "set_auth" %}>Add new authors</a></li>
  <li role="presentation"><a href={%url "list_of_authors" %}>Get author list</a></li>
  </ul>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% include "reader/panels.html" %}
    {% block content %}{% endblock %}
  </body>
</html>
