{% extends "reader/base.html"%}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>Author</h1>
      {% for author in authors %}
      <div class="row">
        <div class="col-xs-4">
          <p class="bg-primary">{{ author }}</p>
        </div>
        <div class="col-xs-8">
          <ul class="list-group">
            {% for book in books %}
              {% if book.author == author%}
                <li class="list-group-item">{{ book }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% empty %}
      <p>No author in db</p>
      {% endfor %}
    </div>
  <div class="col-md-1"></div>
</div>
{% endblock %}
