{% extends "reader/base.html"%}

{% block content %}
<TABLE BORDER CELLSPACING=5 CELLPADDING=5>

<CAPTION ALIGN=bottom>таблица предпочтений</CAPTION>

<tr>
    <TD COLSPAN=2 ROWSPAN=2</TD>
    <TH COLSPAN=2  ALIGN=CENTER>Предпочитают </TH>
</TR>
<TR>
    <Th >Зимой</Th>
    <TH > Летом </TH>
</TR>

<TR ALIGN=center>
    <Th rowspan=2> Яблоки</Th>
    <TH > Зеленые</TH>
    <TD>73%</TD>
    <TD>27%</TD>
</TR>
<TR ALIGN=center>
                              <TH > Красные</TH>
                               <TD>86%</TD>
                               <TD>14%</TD>
</TR>

</TABLE>
 {% endblock %}
