{% extends "reader/base.html"%}

{% load bootstrap %}

{% block content %}
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1> You Can Add Your Favorite Author</h1>
      <form method= "POST" action={% url "set_auth"%}>{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-1"></div>
  </div>
{% endblock %}