{% extends "reader/base.html"%}
{% block content %}
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <form action="" method="POST" >{% csrf_token %}
        <input name="txtsearch" class="form-control" placeholder="Search">
        <br>
        <div class="radio">
          <input type="radio" name ="filt" value="up">Up<br>
          <input type="radio" name="filt" value="down">Down<br>
        </div>
        <button type="submit" name="search" class="btn btn-default">Search</button>
      </form>
      <ul class="list-group">
        {% for authors in author_list %}
          <div class="row">
            <div class="col-xs-1">
              <li class="list-group-item">
              <a href={% url "author" authors.pk %}>{{ authors.last_name }}</a>
            </div>
            <h4>{{ authors.first_name }}</h4><h4>e-mail: {{ authors.email}}</h4></li>
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id='test_list'>
  </div>
  <script>
    $.get('http://localhost:8000/api/list',
    function (res){
      res.forEach(function (item){
        $("#test_list").append('<p>'+item.first_name+'</p>');
      });
    });
  </script>
   <div class="col-md-1"></div>
</div>
{% endblock %}



