{% extends "reader/base.html"%}

{% block content %}

  {% load bootstrap %}
  <h1>Log in user</h1>
  <div class="col-xs-8">
    <form method="POST" class="form-group">{% csrf_token %}
      {{ form|bootstrap }}
      <div class="col-lg-9">
        <button type="submit" name="login" class="btn btn-success">Log in</button>
      </div><br>
    </form>
    {% if user.is_authenticated %}
      <p>Hello {{user.username}}</p>
    {% else %}
      <p>Bye</p>
    {% endif %}
  </div>
{% endblock %}