<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <a href={% url "login" %}>Log in</a>
    </div>
    <div class="col-md-1">
    {% if user.is_authenticated %}
      <a href={% url "logout" %}>Log out</a>
      {% else %}
        <a href={% url "registration" %}>Registration</a>
    {% endif %}
    </div><br>
  </div>
</div>
