    {% load tz %}
    <form>
    <p>{{TIME_ZONE}}</p>
    <p>{{ TIME_NOW }} {% now "jS F Y H:i" %}</p>
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set" />
</form>