{% extends "reader/base.html"%}

{% block content %}
  {% load bootstrap %}
  <h1>Create new user</h1>
  <div class="col-xs-8">
    <form method="POST" class="form-group">{% csrf_token %}
      {{ form|bootstrap }}
      <button type="submit" name="save" class="btn btn-success">Save</button>
    </form>
  </div>
{% endblock %}